@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: black;
  font-family: "Poppins", sans-serif;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: white;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 22px;
  display: flex;
  align-items: center;
}

#brand .slash {
  font-weight: 100;
  font-size: 18px;
}

#brand .jobTitle {
  font-weight: 100;
  font-size: 18px;
  letter-spacing: .1em;
}

#brand a {
  color: #498afb;
}

.nav-ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-ul a {
  color: black;
}

.nav-ul li {
  padding: 10px;
  margin-left: 10px;
}

.nav-ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#login,
#signup {
  border-radius: 5px;
  padding: 5px 8px;
}

#login {
  border: 1px solid #498afb;
}

#signup {
  border: 1px solid #ff3860;
}

#signup a {
  color: #ff3860;
}

#login a {
  color: #498afb;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: #498afb;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  list-style: none;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 25px;
}

.mobile-menu .aboutNav {
    margin-top: 50px;
    margin-bottom: 25px;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .card {
    border-radius: 5px;
    box-shadow: 2px 5px 10px black;
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    background-color: #498afb;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 2em;
  }

  .profile-position {
    margin: 0;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: .5em;
  }

  .profile-main {
    text-align: left;
    margin-left: 2em;
  }

  .profile-name::after {
    margin-left: 0;
  }

  footer{
    position: absolute;
    bottom: 0;
    margin-top: 10%;
    left: 0;
    right: 0;
    background-color: #498afb;
    height: auto;
    max-width: 100%;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

.socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

.footer-bottom{
  background-color:#44bae8;
  max-width: 100%;
  padding: 20px;
  margin-bottom: 0;
  padding-bottom: 40px;
  text-align: center;
}

.footer-bottom p{
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom p a{
 color: white;
 font-size: 16px;
 text-decoration: none;
}

.footer-bottom p a:hover{
  color: black;
  font-size: 16px;
  text-decoration: none;
 }

.footer-bottom span{
   text-transform: uppercase;
   opacity: .4;
   font-weight: 200;
}

.footer-menu{
  float: right;
}

.footer-menu ul{
  display: flex;
}

.footer-menu ul li{
padding-right: 10px;
display: block;
}

.footer-menu ul li a{
  color: black;
  text-decoration: none;
}

.footer-menu ul li a:hover{
  color: white;
}



@media only screen and (max-width: 840px) {
  header {
    background-color: white;
 }
 
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  #brand .slash {
    display: none;
  }

   #brand .jobTitle {
    display: flex;
    letter-spacing: .1em;
   }
   
   .mobile-menu {
    margin-top: 50px;
    margin-bottom: 25px;
    background-color: #498afb;
    transition: 0.2s;
  }

  .mobile-menu a {
    color: white;
  }

  .mobile-menu a:hover {
    color: rgb(255, 255, 255);
    font-size: 17px;
    transition: 0.2;
  }

  .profile-name {
    font-size: 2rem;
    margin-left: -25px;
    padding: 0;
    text-align: center;
  }

  .line {
    display: block;
    height: 1px;
    width: 10em;
    background-color: white;
    margin: .5em auto .75em;
  }

  .profile-position {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    margin-left: -25px;
    margin-bottom: .5em;
  }

  .profile-body {
    font-weight: 300;
    margin-bottom: 0;
    text-align: center;
    margin-left: -25px;
    font-size: 14px;
  }

  .footer-bottom {
    height: 85px;
  }

  .footer-menu {
    position: absolute;
    margin-top: 30px;
    float: left;
  }

}